<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="#" class="logo">Cool App</a>
      <nav>
        <ul>
          <li>
            <a href="#" routerLink="/">Home</a>
          </li>
          <li><a href="#" routerLink="/list">Brewbries</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>

<div class="container">
<router-outlet></router-outlet>
</div>